body {
    font-family: Arial, Helvetica, sans-serif;
    
}
.header {
    background-image: url(./images/wallpaperflare.com_wallpaper\(3\).jpg);
}


ul {
    display: flex;
    list-style: none;
}

#navbar {
    color: black;
    display: flex;
    padding: 15px;
    text-decoration: none;
    justify-content: flex-end;
}

#navbar li{
    font-size:  40px;
    padding: 15px;
    text-decoration: overline;
    list-style: none;
    color: black;
}
#navbar a{
    color: blue;
    
}
ul a:hover {
    color: orange;
    text-decoration: none;
    box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;
}
a:visited,
a:focus,
a:active {
    color:blue;
}

.hero{
    display: block;
    padding: 10%;
    background: #90c5cc;
    margin: 5%;
}
.hero h1 {
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

.hero p {
    line-height: 1.5;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10%;
    justify-content: center;
}
.socials {
    display: block;
    padding-block-end: 10cap;
    }
hr {
    position: relative;
    top: 20px;
    border: none;
    height: 6px;
    background: black;
    margin-bottom: 50px;
}
.avatar {
    float: left;
    margin-right: 100px;
    width: 400px;
    height:400px;
    border-radius: 50%;
}

/* Work part */
.work h2 {
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

span {
    color: orangered;
    
}

/* contact tab  */
fieldset {
    border: 0;
    text-align: center;
}

fieldset div {
    margin-top: 20px;
}
fieldset h2 {
    text-transform: uppercase;
    letter-spacing: 1.4px;
}

label {
    font-size: 18px;
    margin-top: 20px;
}

input  {
    width: 300px;
    height: 20px;
    margin-top: 10px;
}

button {
    border: 0;
    background: green;
    color: white;
    width: 300px;
    height: 50px;
    margin-top: 20px;
    text-transform: uppercase;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
.edu {
    background-image: url("images/black-lecture.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}


.academia {
    color: white;
    line-height: 1.5;
    margin-left: 60px;
    padding: 10px 0;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
#Workdetails{
    display: none;
}
